<div class="body">
<%_.each(posts, function(posts){%>

  <div class="table">
      <div class="header">
          <div>
              <span class="topic" style="margin:5px;"><%=posts.title%></span>
              <span class="other"><%=posts.forumname%></span>
          </div>

          <div class="avatar_div">
                <img class="avatar1" src="<%=posts.avatar%>" />
          </div>

          <div class="line_height">
              <span class="username"><%=posts.username%></span><br />
              <span class="user_group"><%-posts.prefix%><%=posts.g_title%><%-posts.suffix%></span>
              <span class="other"><%-posts.userposts%> posts</span>
          </div>
      </div>

      <div class="post">
          <span class="other"><%=posts.post_date%></span>
          <br />
          <span class="post_body"><%-posts.post%></span>
      </div>
  </div>

<br />
<%})%>

</div>

