.body{
  width:280px;
  background:#1c1c1c;
  font-family:Roboto;
  color:#eceeef;
}

img:not(avatar1){
  width:99%;
  height:auto;
}

.avatar_div{
  float:left;
  padding:0 5px 0 5px;
}

.table{
  width:98%;
  border-collapse: collapse;
  border-spacing: 0;
}

.line_height{
  line-height:98%;
  margin-top:-2px;
}

.header{
  background:#0d0d0d;
  padding:0 0 7px 0;
}

.post{
  background:#151414;
  clear:left;
  padding:5px;
}

.avatar1{
  width:27px;
  height:27px;
  border:solid 1px #3a595d;
}

.topic{
  font-size:18px;
  color:#eceeef;
  font-style:light;
  font-weight:light;
}

.post_body{
  font-size:15px;
  color:#eceeef;

  font-style:light;
  font-weight:light;
}

.username{
  font-size:15px;
  color:#bcd9d8;
  font-style:medium;
}

.user_group{
  font-size:12px;
  font-style:medium;
}

.other{
  font-size:11px;
  color:#3a595d;

  font-style:light;
  font-weight:light;
}

